@inject IJSRuntime JSRuntime;

<div class="container vertical">
    <div class="container vertical">
        <igc-dockmanager @ref="dockManager" id="dockManager" height="100%" width="100%">
            @*NOTE: code in DockManagerOverview.js file sets layout of these DIV elements:*@
            <div slot="content1"><button @onclick="CreateTab">create new tab</button></div>
            <div slot="content2"><button @onclick="CreateTab">create new tab</button></div>
        </igc-dockmanager>
    </div>
</div>

@code {

    ElementReference dockManager;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // open DockManagerOverview.bundle.js file to see how the arrange funciton is implemented
            await JSRuntime.InvokeVoidAsync("DockManagerOverview.arrange", dockManager);
        }
    }

    private async Task CreateTab()
    {
        await JSRuntime.InvokeVoidAsync("DockManagerOverview.createTab", dockManager);
    }
}
